  * {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }

  /* div {
    padding: 0 0px;
  } */

  .header_flex {
    display: flex;
    padding: 50px;
    background-color: #ffffff;
    height: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .header_logo {
    font-weight: bold;
      font-size: 30px;
  }

  .text{
    color: #00277E;
  }


  .header_nav {
    margin-left: auto;
  }

  .header_ul {
    display: flex;
  }

  .header_ul li {
    margin-left: 20px;
  }
  
  .relative {
    padding: 0px;
    position: relative;
  }
  
  .box1 {
    margin: 420px 0 10px 0;
    height: 100px;
    width: 700px;
    font-size: 90px;
    background-color: white;
  }
  .box2 {
    height: 200px;
    width: 75vw;
    background: #0000FF;
  }
  

  .img{
    text-align: right;
    padding: 0 0 500px 0;
    position: absolute;
    display: flex;
    width: 50vw;
    height: 61vh;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
