  * {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }

  /* div {
    padding: 0 0px;
  } */

  .header_flex {
    display: flex;
    padding: 50px;
    background-color: #ffffff;
    height: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .header_logo {
    font-weight: bold;
      font-size: 30px;
  }

  .text{
    color: #00277E;
  }


  .header_nav {
    margin-left: auto;
  }

  .header_ul {
    display: flex;
  }

  .header_ul li {
    margin-left: 20px;
  }

.relative {
  position: relative;
}

/* .parents{

} */
.relative__img {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}

.absolute {
  position: absolute;
  top: 50%;
  left: 0%;
  font-size: 50px;
}

.blue_box {
  position: absolute;
  top: 2652px;
  left: 0;
  height: 340px;
  width: 1000px;
  background: #0000FF;
}
/* 
.box {
  width: 200px;
  height: 200px;
  color: #ffffff;
} */