  * {
    margin: 0;
    padding: 0;
  }


  .header_flex {
    display: flex;
    padding: 30px;
    background-color: #fff;
    height: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .text {
    font-weight: bold;
    font-size: 30px;
    color: #00277E;
    d
  }

  .header_nav {
    margin-left: auto;
  }

  ul {
    list-style: none;
  }

  .header_ul {
    display: flex;
  }

  .header_ul li {
    margin-left: 20px;
  }


  * {
    margin: 0;
    padding: 0;
  }

  .main {
    margin-bottom:  30px;
    margin-top: -140px;
  }
  
  .absolute {
    /* margin-top: 2px; */
    padding: 0px;
    height: 100%;
  }


  .imgbox {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 15vw;
    /* margin: 0 0 0 50%; */
    z-index: 2;

  }

  .img {
    height: 50%;
    width: 100%;
  }

  .title {
    font-size: 5vw;
    /* top: 100%; */
    bottom: -10px;
    position: relative;
  }

  .box {
    position: relative;
    height: 200px;
    margin-bottom:10px;
    width: 75%;
    background: #010182;
  }